.gallery__item--horizontal
{
    grid-column-start: span 2;
    grid-row-start: span 2;
}

@media screen and (max-width: 991px) 
{
    .container
    {
        &:has(.gallery)
        {
            padding: 0 calc(10 / var(--to-rem));
        }
    }

    .work__video
    {
        &.is--space-bot
        {
            margin-bottom: calc(10 / var(--to-rem));
        }

        &.is--space-top
        {
            margin-top: calc(10 / var(--to-rem));
        }
    }
}