.btn__text
{
    position: relative;

    &::before
    {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: currentColor;
        transform-origin: left;
        transform: scaleX(1);
        transition: transform var(--ease);
    }
}

.btn
{
    &:hover
    {
        .btn__text
        {
            &::before
            {
                transform-origin: right;
                transform: scaleX(0);
            }
        }

        .btn__arrow
        {
            transform: rotate(180deg);
        }

        .btn__arrow--icon
        {
            background-color: var(--black);
            color: var(--white);
        
        }
    }
}

.btn__arrow--icon
{
    transition: background-color var(--ease), color var(--ease);
}

.btn__arrow
{
    transition: transform var(--ease);
}

.more-btn
{
    &:hover
    {
        .btn__text
        {
            &::before
            {
                transform-origin: right;
                transform: scaleX(0);
            }
        }
    }
}