.expanding-text
{
    --font: 70;
    font-size: calc(var(--font) / var(--to-rem));
}

@media screen and (max-width: 991px) 
{
    .expanding-text
    {
        --font-tb: 40;
        font-size: calc(var(--font-tb) / var(--to-rem));
    }
}