.footer__logo--names
{
    width: var(--width);
    position: relative;
    transition: width var(--ease);
    height: 100%;
}

.footer__logo--name
{
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    transition: opacity var(--ease);
    
    &.active
    {
        transition: opacity var(--ease) 0.2s;
        opacity: 1;
    }
}

footer.section
{
    color: var(--light) !important;
    background-color: var(--dark) !important;
}

.footer__divider
{
    background-color: currentColor;
}

.footer__logo--name-space
{
    border-color: var(--light);
    border-right: none;
}

.footer__logo
{   
    path
    {
        fill: var(--dark);

        &.logo-bg
        {
            fill: var(--light);
        }
    }
}

@media screen and (max-width: 991px) 
{
    footer
    {
        margin-top: calc(140 / var(--to-rem));
    }
}

@media screen and (max-width: 479px) 
{
    footer
    {
        margin-top: calc(120 / var(--to-rem));
    }

    .footer__col
    {
        padding-bottom: calc(8 / var(--to-rem));
        border-bottom: 1px solid var(--light);
        width: 100%;

        &:nth-child(even)
        {
            align-items: flex-end;
        }
    }

    .footer__divider
    {
        display: none;
    }

    .footer__logo--name
    {
        ._32
        {
            padding-left: calc(5 / var(--to-rem));
            padding-right: calc(5 / var(--to-rem));
        }
    }

    .footer__row
    {
        &:last-child
        {
            margin-top: calc(70 / var(--to-rem));
            grid-row-gap: calc(20 / var(--to-rem));

            .footer__col
            {

                &:nth-child(2)
                {
                    align-items: flex-start;
                }

                &:nth-child(3)
                {
                    align-items: flex-end;
                }

                &:nth-child(1),
                &:nth-child(4)
                {
                    border-bottom: none;
                }
            }
        }
    }
}