.footer__logo--names
{
    width: var(--width);
    position: relative;
    transition: width var(--ease);
    height: 100%;
}

.footer__logo--name
{
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    transition: opacity var(--ease);
    
    &.active
    {
        transition: opacity var(--ease) 0.2s;
        opacity: 1;
    }
}

footer.section
{
    color: var(--light) !important;
    background-color: var(--dark) !important;
}

.footer__divider
{
    background-color: currentColor;
}

.footer__logo--name-space
{
    border-color: var(--light);
    border-right: none;
}

.footer__logo
{   
    path
    {
        fill: var(--dark);

        &.logo-bg
        {
            fill: var(--light);
        }
    }
}

@media screen and (max-width: 991px) 
{
    footer
    {
        margin-top: calc(140 / var(--to-rem));
    }
}