.loader.hide
{
    display: none !important;
    visibility: hidden !important;
}

.loader
{
    pointer-events: none;

    &.dark-blue
    {
        background: #6d86a6;
    }

    &.dark-green
    {
        background: #5e8c84;
    }

    &.dark-red
    {
        background: #e25b5b;
    }
}

@media screen and (max-width: 768px) 
{
    .loader.hide
    {
        display: none !important;
        visibility: hidden !important;
    }
}