.loader
{
    pointer-events: none;

    &.dark-blue
    {
        background: #6d86a6;
    }

    &.dark-green
    {
        background: #5e8c84;
    }

    &.dark-red
    {
        background: #e25b5b;
    }
}