.loader
{
    pointer-events: none;

    &.dark-blue
    {
        background: var(--dark-blue);
    }

    &.light-blue
    {
        background: var(--light-blue);
    }

    &.dark-green
    {
        background: var(--dark-green);
    }

    &.light-green
    {
        background: var(--light-green);
    }

    &.dark-red
    {
        background: var(--dark-red);
    }

    &.light-red
    {
        background: var(--light-red);
    }
}