[colors="red"]
{
    --light: var(--light-red);
    --dark: var(--dark-red);
}

[colors="blue"]
{
    --light: var(--light-blue);
    --dark: var(--dark-blue);
}

[colors="green"]
{
    --light: var(--light-green);
    --dark: var(--dark-green);
}