.section:has(.agency)
{
    position: relative;
    z-index: 1;
}

.agency__lottie-parent
{
    position: sticky;
    top: 0;
}

.agency__item
{
    position: sticky;
    top: 0;
    padding-left: calc(50 / var(--to-rem));
    padding-right: calc(50 / var(--to-rem));

    &:nth-child(2)
    {
        background-color: var(--dark-blue);
        color: var(--light-blue);
        --this-color: var(--light-blue);
    }

    &:nth-child(3)
    {
        background-color: var(--dark-green);
        color: var(--light-green);
        --this-color: var(--light-green);
    }

    &:nth-child(4)
    {
        background-color: var(--dark-red);
        color: var(--light-red);
        --this-color: var(--light-red);
    }

    .about__descr
    {
        color: var(--black);
    }

    .agency__item--title
    {
        color: var(--black);

        .italic
        {
            color: var(--this-color);
        }
    }
}

.agency__lottie
{
    overflow: hidden;
    
    svg
    {
        animation: rotate 20s linear infinite;

        path
        {
            fill: var(--white);
        }
    }
}

@keyframes rotate
{
    0%
    {
        transform: rotate(0deg);
    }

    100%
    {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 991px) 
{
    .agency__item
    {
        padding: calc(120 / var(--to-rem)) calc(40 / var(--to-rem)) calc(80 / var(--to-rem));

        .about__descr
        {
            max-width: calc(460 / var(--to-rem));
        }
    }

    .agency__lottie-parent
    {
        position: absolute;
        height: auto;
        top: calc(-300 / var(--to-rem));
        right: 0;
    }

    .hero.is--agency
    {
        height: 100dvh;
        padding-bottom: calc(80 / var(--to-rem));
    }
}

@media screen and (max-width: 479px) 
{
    .agency__lottie-parent
    {
        position: static;
        margin-top: calc(60 / var(--to-rem));
        margin-bottom: calc(100 / var(--to-rem));
    }

    .agency__lottie
    {
        width: calc(170 / var(--to-rem));
        height: calc(170 / var(--to-rem));
    }

    .agency__item
    {
        padding: calc(80 / var(--to-rem)) calc(20 / var(--to-rem));
        position: relative;
        height: auto;

        &:nth-child(2)
        {
            .agency__item--title
            {
                &::before
                {
                    content: '02';
                }
            }
        }
        &:nth-child(3)
        {
            .agency__item--title
            {
                &::before
                {
                    content: '03';
                }
            }
        }
        
        &:nth-child(4)
        {
            .agency__item--title
            {
                &::before
                {
                    content: '04';
                }
            }
        }

        .agency__item--title
        {
            &::before
            {
                content: '01';
                font-size: calc(90 / var(--to-rem));
                margin-bottom: calc(20 / var(--to-rem));
                font-family: PP Editorial New,sans-serif;
                display: block;
                letter-spacing: -0.03em;
                line-height: 1.1;
                color: var(--this-color);
            }
        }
    }

    .about__descr
    {
        margin-bottom: 0px;
    }

    .agency__split
    {
        display: block;
    }

    .hero
    {
        &.is--agency
        {
            height: auto;
            padding-bottom: 0px;
        }

        .agency__title
        {
            &::before
            {
                content: '01';
                font-size: calc(90 / var(--to-rem));
                margin-top: calc(60 / var(--to-rem));
                margin-bottom: calc(20 / var(--to-rem));
                font-family: PP Editorial New,sans-serif;
                display: block;
                letter-spacing: -0.03em;
                line-height: 1.1;
            }
        }
    }
}