.clients__list
{
    justify-content: flex-start;
}

.clients__item--parent
{
    --padding: 90;
    width: calc((446 + var(--padding) * 2) / var(--to-rem));
    padding: 0 calc(var(--padding) / var(--to-rem));

    &.swiper-slide-active
    {
        .clients__item
        {
            scale: 1;
            filter: blur(0);
        }
    }
}

.clients__item
{
    height: calc(513 / var(--to-rem));
    transition: scale var(--ease), filter var(--ease);
    scale: 0.85;
    filter: blur(4px);
}

.clients__arrow
{
    transition: scale var(--ease);
    cursor: pointer;

    &:hover
    {
        scale: 1.2;
    }
}

@media screen and (max-width: 991px) 
{
    .clients__item
    {
        height: calc(431 / var(--to-rem));
    }

    .clients__item--parent
    {
        width: calc((458 + var(--padding) * 2) / var(--to-rem));
    }

    .clients__arrows
    {
        grid-column-gap: calc(604 / var(--to-rem));
    }

    .clients__arrow
    {
        width: calc(32 / var(--to-rem));
        height: calc(32 / var(--to-rem));
    }
}

@media screen and (max-width: 479px) 
{
    .clients__slider
    {
        flex-direction: column;
    }

    .clients__item
    {
        height: calc(421 / var(--to-rem));
        scale: 1;
        filter: blur(0px);
    }

    .clients__item--parent
    {
        --padding: 5;
        width: calc((335 + var(--padding) * 2) / var(--to-rem));
    }

    .clients__arrows
    {
        grid-column-gap: calc(51 / var(--to-rem));
        position: relative;
        align-self: flex-start;
        margin-top: calc(20 / var(--to-rem));
    }
}