.jobs__item
{
    &:nth-child(even)
    {
        flex-direction: row-reverse;
    }
}

.jobs__info
{
    width: 50%;
    background-color: var(--white);
    color: var(--black);
    padding: calc(50 / var(--to-rem));
}

@media screen and (max-width: 991px) 
{
    .jobs__list
    {
        width: calc(100% + 60 / var(--to-rem));
        margin-left: calc(-30 / var(--to-rem));
    }

    .jobs__item
    {
        height: auto;
    }

    .job__img
    {
        height: calc(302 / var(--to-rem));
        width: 50%;
        flex: none;
    }

    .jobs__info
    {
        padding: calc(24 / var(--to-rem)) calc(30 / var(--to-rem));
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }
}

@media screen and (max-width: 479px) 
{
    .jobs__list
    {
        width: calc(100% + 40 / var(--to-rem));
        margin-left: calc(-20 / var(--to-rem));
        gap: calc(10 / var(--to-rem));
    }

    .jobs__item
    {
        flex-direction: column;

        &:nth-child(even)
        {
            flex-direction: column;
        }
    }

    .job__img
    {
        height: calc(293 / var(--to-rem));
        width: 100%;
        flex: none;
    }

    .jobs__info
    {
        padding: calc(14 / var(--to-rem)) calc(20 / var(--to-rem)) calc(20 / var(--to-rem));
        flex-direction: column;
        width: 100%;
        gap: calc(40 / var(--to-rem));
    }
}