[barba-page="jobs"]
{
    background-color: var(--black);
    color: var(--white);
}

@media screen and (max-width: 991px) 
{
    [barba-page="jobs"]
    {
        .hero.is--agency
        {
            height: auto;
            padding-bottom: 0;
        }
    }
}

@media screen and (max-width: 479px) 
{
    .section
    {
        &:has(.job-content),
        &:has(.services)
        {
            padding-top: calc(40 / var(--to-rem));
        }
    }
}