.awards__logo
{
    height: calc(180 / var(--to-rem));
    width: calc(200 / var(--to-rem));
    margin-bottom: calc(-25 / var(--to-rem));

    img
    {
        object-fit: contain;
    }
}

.awards__item
{
    .awards__title
    {
        margin-bottom: calc(7 / var(--to-rem));
        max-width: none;
        width: 100%;
        text-align: center;
    }
}
