.kunden__item
{
    position: relative;
    flex: none;

    &:hover
    {
        .kunden__andfrank-parent
        {
            opacity: 1;
        }

        .kunden__logo
        {
            opacity: 0;
        }
    }

    max-width: calc(350 / var(--to-rem));
}

.kunden__logo
{
    transition: opacity var(--ease);
}

.kunden__andfrank-parent
{
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity var(--ease);
    position: absolute;
    color: #FF6600;

    path.logo-bg
    {
        fill: currentColor;
    }
}

.kunden__andfrank-text
{
    border-left: 1px solid currentColor;
    border-top: 1px solid currentColor;
    border-bottom: 1px solid currentColor;
}

.kunden__list
{
    display: flex;
    flex: none;
    padding-right: calc(80 / var(--to-rem));
    gap: calc(80 / var(--to-rem));
}

.kunden__wrapper
{
    &:nth-child(even)
    {
        justify-content: flex-end;
    }
}

@media screen and (max-width: 991px)
{
    .kunden__list
    {
        gap: calc(50 / var(--to-rem));
        padding-right: calc(50 / var(--to-rem));
        width: auto;
    }

    .kunden__andfrank-parent
    {
        display: flex;
    }

    .kunden__andfrank-logo
    {
        width: calc(82 / var(--to-rem));
    }

    .kunden__andfrank-text
    {
        padding: calc(4 / var(--to-rem)) calc(8 / var(--to-rem));
    }

    .kunden__item
    {

        &:hover
        {
            .kunden__andfrank-parent
            {
                opacity: 1;
            }

            .kunden__logo
            {
                opacity: 0;
            }
        }
    }
}

@media screen and (max-width: 479px)
{
    .kunden__rows
    {
        margin-top: calc(60 / var(--to-rem));
        grid-row-gap: calc(0 / var(--to-rem));
    }
}