.kunden__item
{
    position: relative;

    &:hover
    {
        .kunden__andfrank-parent
        {
            opacity: 1;
        }   

        .kunden__logo
        {
            opacity: 0;
        }
    }
}

.kunden__logo
{
    transition: opacity var(--ease);
}

.kunden__andfrank-parent
{
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity var(--ease);
    position: absolute;
    color: #FF6600;

    path.logo-bg
    {
        fill: currentColor;
    }
}

.kunden__andfrank-text
{
    border-left: 1px solid currentColor;
    border-top: 1px solid currentColor;
    border-bottom: 1px solid currentColor;
}

.kunden__list
{
    width: 100%;
    flex: none;
    padding-right: 2.43056rem;
}

.kunden__wrapper
{
    &:nth-child(even)
    {
        justify-content: flex-end;
    }
}

@media screen and (max-width: 991px) 
{
    .kunden__list
    {
        gap: calc(50 / var(--to-rem));
        padding-right: calc(50 / var(--to-rem));
    }

    .kunden__item
    {
        &:hover
        {
            .kunden__andfrank-parent
            {
                opacity: 0;
            }   

            .kunden__logo
            {
                opacity: 1;
            }
        }
    }
}