[barba-page="about"]
{
    background-color: var(--black);
    color: var(--white);
}

@media screen and (max-width: 479px) 
{
    .container
    {
        &:has(.section-video)
        {
            padding: 0;
        }
    }
}