.team__list
{
    padding-top: calc(250 / var(--to-rem));
}

.team__item
{
    &:nth-child(3n+1)
    {
        margin-top: calc(-250 / var(--to-rem));
    }
    
    &:nth-child(3n+3)
    {
        margin-top: calc(-120 / var(--to-rem));
    }
}

.team__info
{
    background-color: var(--white);
    color: var(--black);
}

.team__avatar
{
    &:hover
    {
        .team__mail
        {
            opacity: 1;
            pointer-events: all;
        }
    }
}

.team__mail
{
    transition: opacity var(--ease);
    opacity: 0;
    pointer-events: none;
}

@media screen and (max-width: 991px) 
{
    .team__list
    {
        padding-top: calc(140 / var(--to-rem));
        width: calc(100% + 60 / var(--to-rem));
        margin-left: calc(-30 / var(--to-rem));
    }

    .team__item
    {
        &:nth-child(3n+1)
        {
            margin-top: inherit;
        }
        
        &:nth-child(3n+3)
        {
            margin-top: inherit;
        }

        &:nth-child(odd)
        {
            margin-top: calc(-140 / var(--to-rem));
        }
    }
}