.values__descr
{
    gap: calc(10 / var(--to-rem));
    padding-bottom: calc(32 / var(--to-rem));
    max-width: calc(446 / var(--to-rem));
}

.values__list
{
    padding: 0 calc(112 / var(--to-rem));
}

.values__item
{
    &:nth-child(odd)
    {
        margin-left: auto;
    }

    &:nth-child(even)
    {
        flex-direction: row-reverse;
        margin-right: auto;
        text-align: right;

        .values__descr
        {
            ._24
            {
                margin-left: auto;
            }
        }
    }
}

.values__number
{
    width: calc(140 / var(--to-rem));
}

@media screen and (max-width: 991px) 
{
    .values__list
    {
        padding: 0;
    }

    .values__descr
    {
        max-width: calc(280 / var(--to-rem));
        padding-bottom: calc(20 / var(--to-rem));
    }

    .values__number
    {
        width: auto;
    }
}

@media screen and (max-width: 479px) 
{
    .values__number
    {
        ._150
        {
            font-size: calc(70 / var(--to-rem));
        }

        align-self: flex-start;
    }

    .values__descr
    {
        padding-top: calc(45 / var(--to-rem));
        max-width: calc(250 / var(--to-rem));
        gap: calc(15 / var(--to-rem));
    }

    .values__item
    {
        grid-column-gap: calc(20 / var(--to-rem));
        position: relative;

        &:nth-child(odd)
        {
            margin-left: 0px;
        }

        &::before
        {
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: var(--black);
            top: calc(73 / var(--to-rem));    
        }
    }

    .values__list
    {
        grid-row-gap: calc(40 / var(--to-rem));
    }
}