.news-inner__back
{
    position: absolute;
    left: 0;
    bottom: 0;

    .svg
    {
        rotate: 90deg;
    }
}

@media screen and (max-width: 991px) 
{
    .news-inner__back
    {
        position: relative;
        margin-top: calc(60 / var(--to-rem));
    }
}

@media screen and (max-width: 479px) 
{
    .news-inner__back
    {
        margin-top: calc(40 / var(--to-rem));
    }
}