@import './styles/root.scss';

@import './styles/components/AllComponents.scss';
@import './styles/pages/home/AllStyles.scss';
@import './styles/pages/services/AllStyles.scss';
@import './styles/pages/works/AllStyles.scss';
@import './styles/pages/work-inner/AllStyles.scss';
@import './styles/pages/news/AllStyles.scss';
@import './styles/pages/news-inner/AllStyles.scss';
@import './styles/pages/about/AllStyles.scss';
@import './styles/pages/agency/AllStyles.scss';
@import './styles/pages/jobs/AllStyles.scss';
@import './styles/pages/contact/AllStyles.scss';


::selection
{
    background-color: var(--black);
    color: var(--white);
    -webkit-text-fill-color: var(--white);
    -webkit-text-stroke-color: transparent;
}